<div class="header__navbar">
  <ul class="header__list">
   
    <li class="header__item">
      <a href="#" class="header__item-link" style=" visibility: hidden;">Giải đấu</a>
      <ul class="header__subnav">
        <li class="header__subnav-item">
          <a href="/tournaments/register" class="header__subnav-item-link">Đăng ký
            tham gia giải đấu</a>
        </li>
        <li class="header__subnav-item">
          <a href="/tournaments/registration_file" class="header__subnav-item-link">Hồ
            sơ đăng ký</a>
        </li>
        <li class="header__subnav-item">
          <a href="/tournaments/schedule" class="header__subnav-item-link">Lập lịch
            giải đấu</a>
        </li>
        <li class="header__subnav-item">
          <a
            href="/tournaments/match_result"
            class="header__subnav-item-link"
          >Ghi nhận kết quả trận đấu</a>
        </li>
        <li class="header__subnav-item">
          <a
            href="/tournaments/report"
            class="header__subnav-item-link"
          >Lập báo cáo giải đấu</a>
        </li>
        <li class="header__subnav-item">
          <a
            href="/tournaments/change_tournament_rules"
            class="header__subnav-item-link"
          >Thay đổi quy định</a>
        </li>
      </ul>
    </li>
 
  </ul>
</div>
